
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-2">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-1">{{ title }}</h2>        
        </div>
      </div>
      <app-income-taxable></app-income-taxable>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--  
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  
  <app-income-taxable></app-income-taxable>
<router-outlet></router-outlet>

-->

